<h1>Stupid Coaching</h1>
<div class="question">
<p>
<%=@question%>
</p>
<p class="signature">- You</p>
</div>
<div class="answer">
<p>
<em><%=@answer%></em>
</p>
<p class="signature">- Coach</p>
</div>
